name: Spring Boot 애플리케이션 빌드 및 빌드 서버 도커 배포

on:
  workflow_dispatch:
    inputs:
      deploy_target:
        description: 'Deploy server'
        required: true
        type: choice
        options:
        - manual-deploy
        - total-deploy
  pull_request:
    types: [opened]
  pull_request_review:
    types: [submitted]

jobs:
  gradle-build:
    runs-on: build
    if: 
      ${{ inputs.deploy_target == 'total-deploy' || 
      (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') }}
    steps:
    - name: 소스 코드 체크아웃
      uses: actions/checkout@v4

    - name: JDK 23 설정
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'temurin'
        cache: gradle

    - name: Gradle 캐시 설정
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Gradle 실행 권한 부여
      run: chmod +x gradlew

    - name: Gradle로 빌드
      run: ./gradlew bootJar --parallel --build-cache

    - name: 빌드 결과물 업로드
      uses: actions/upload-artifact@v4
      with:
        name: app-jar
        path: build/libs/*.jar

  docker-build:
    runs-on: build
    needs: gradle-build
    if: 
      ${{ inputs.deploy_target == 'total-deploy' || 
      (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') }}
    steps:
    - name: 소스 코드 체크아웃
      uses: actions/checkout@v4

    - name: 빌드 결과물 다운로드
      uses: actions/download-artifact@v4
      with:
        name: app-jar
        path: build/libs

    - name: Docker Registry 로그인
      run: |
        echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ secrets.REGISTRY_HOST }} -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

    - name: Docker 이미지 빌드
      run: |
        docker build --platform linux/arm64 -t ${{ secrets.REGISTRY_HOST }}/spring-app:latest .

    - name: 도커 이미지 푸시
      run: |
        docker push ${{ secrets.REGISTRY_HOST }}/spring-app:latest

    - name: Docker 로그아웃
      run: docker logout ${{ secrets.REGISTRY_HOST }}

  docker-deploy-manual:
    runs-on: deploy
    env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_URL: ${{ secrets.DB_URL }}
      DB_USERNAME: ${{ secrets.DB_USERNAME }}
      REDIS_HOST: ${{ secrets.REDIS_HOST }}
      REDIS_PORT: ${{ secrets.REDIS_PORT }}
      REDIS_PASSWORD: ${{secrets.REDIS_PASSWORD}}
      AWS_S3_HOST: ${{ secrets.AWS_S3_HOST }}
      AWS_S3_ID: ${{ secrets.AWS_S3_ID }}
      AWS_S3_PASSWORD: ${{ secrets.AWS_S3_PASSWORD }}
      DOCKER_NETWORK: ${{ secrets.DOCKER_NETWORK }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_REDIRECT_URI: ${{ secrets.GOOGLE_REDIRECT_URI }}
      GOOGLE_SCOPE: ${{ secrets.GOOGLE_SCOPE }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
    if: github.event_name == 'workflow_dispatch' && inputs.deploy_target == 'manual-deploy'
    steps:
    - name: 도커 이미지 가져오기
      run: docker pull localhost:5000/spring-app:latest

    - name: 기존 컨테이너 중지 및 삭제 (있을 경우)
      run: |
        docker stop spring-app || true
        docker rm spring-app || true

    - name: Spring Boot 애플리케이션 실행
      run: |
        docker run -d \
          --name spring-app \
          --network "$DOCKER_NETWORK" \
          -p 9909:8080 \
          -e SPRING_PROFILES_ACTIVE=production \
          -e DB_PASSWORD="$DB_PASSWORD" \
          -e DB_URL="$DB_URL" \
          -e DB_USERNAME="$DB_USERNAME" \
          -e REDIS_HOST="$REDIS_HOST" \
          -e REDIS_PORT="$REDIS_PORT" \
          -e REDIS_PASSWORD="$REDIS_PASSWORD" \
          -e AWS_S3_HOST="$AWS_S3_HOST" \
          -e AWS_S3_ID="$AWS_S3_ID" \
          -e AWS_S3_PASSWORD="$AWS_S3_PASSWORD" \
          -e GOOGLE_CLIENT_ID="$GOOGLE_CLIENT_ID" \
          -e GOOGLE_REDIRECT_URI="$GOOGLE_REDIRECT_URI" \
          -e GOOGLE_SCOPE="$GOOGLE_SCOPE" \
          -e GOOGLE_CLIENT_SECRET="$GOOGLE_CLIENT_SECRET" \
          -e JWT_SECRET="$JWT_SECRET" \
          localhost:5000/spring-app:latest

  docker-deploy-total:
    runs-on: deploy
    needs: docker-build
    env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_URL: ${{ secrets.DB_URL }}
      DB_USERNAME: ${{ secrets.DB_USERNAME }}
      REDIS_HOST: ${{ secrets.REDIS_HOST }}
      REDIS_PORT: ${{ secrets.REDIS_PORT }}
      REDIS_PASSWORD: ${{secrets.REDIS_PASSWORD}}
      AWS_S3_HOST: ${{ secrets.AWS_S3_HOST }}
      AWS_S3_ID: ${{ secrets.AWS_S3_ID }}
      AWS_S3_PASSWORD: ${{ secrets.AWS_S3_PASSWORD }}
      DOCKER_NETWORK: ${{ secrets.DOCKER_NETWORK }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_REDIRECT_URI: ${{ secrets.GOOGLE_REDIRECT_URI }}
      GOOGLE_SCOPE: ${{ secrets.GOOGLE_SCOPE }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
    if: github.event_name == 'workflow_dispatch' && inputs.deploy_target == 'total-deploy'
    steps:
    - name: 도커 이미지 가져오기
      run: docker pull localhost:5000/spring-app:latest

    - name: 기존 컨테이너 중지 및 삭제 (있을 경우)
      run: |
        docker stop spring-app || true
        docker rm spring-app || true

    - name: 새 컨테이너 실행
      run: |
        docker run -d \
          --name spring-app \
          --network "$DOCKER_NETWORK" \
          -p 9909:8080 \
          -e SPRING_PROFILES_ACTIVE=production \
          -e DB_PASSWORD="$DB_PASSWORD" \
          -e DB_URL="$DB_URL" \
          -e DB_USERNAME="$DB_USERNAME" \
          -e REDIS_HOST="$REDIS_HOST" \
          -e REDIS_PORT="$REDIS_PORT" \
          -e REDIS_PASSWORD="$REDIS_PASSWORD" \
          -e AWS_S3_HOST="$AWS_S3_HOST" \
          -e AWS_S3_ID="$AWS_S3_ID" \
          -e AWS_S3_PASSWORD="$AWS_S3_PASSWORD" \
          -e GOOGLE_CLIENT_ID="$GOOGLE_CLIENT_ID" \
          -e GOOGLE_REDIRECT_URI="$GOOGLE_REDIRECT_URI" \
          -e GOOGLE_SCOPE="$GOOGLE_SCOPE" \
          -e GOOGLE_CLIENT_SECRET="$GOOGLE_CLIENT_SECRET" \
          -e JWT_SECRET="$JWT_SECRET" \
          localhost:5000/spring-app:latest          

  notify-discord-on-pr-and-approve:
    if: |
      github.event_name == 'pull_request' ||
      (github.event_name == 'pull_request_review' && github.event.review.state == 'approved')
    runs-on: ubuntu-latest
    steps:
      - name: 디스코드로 PR/승인 알림 전송
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          PR_TITLE: ${{ github.event.pull_request.title }}
          PR_BODY: ${{ github.event.pull_request.body }}
          PR_URL: ${{ github.event.pull_request.html_url }}
          REVIEW_STATE: ${{ github.event.review.state }}
          REVIEW_USER: ${{ github.event.review.user.login }}
        run: |
          if [ "$GITHUB_EVENT_NAME" = "pull_request_review" ] && [ "$REVIEW_STATE" = "approved" ]; then
            MESSAGE="**Pull Request가 승인되었습니다!**\n제목: $PR_TITLE\n\n내용: $PR_BODY\n\n링크: $PR_URL\n승인자: $REVIEW_USER"
          else
            MESSAGE="**새 Pull Request가 열렸습니다!**\n제목: $PR_TITLE\n\n내용: $PR_BODY\n\n링크: $PR_URL"
          fi
          curl -H "Content-Type: application/json" \
            -X POST \
            -d "{\"content\": \"$MESSAGE\"}" \
            $DISCORD_WEBHOOK_URL
